.add-user-container{
    border: 1px solid #a1a2a1;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 750px;
    margin: auto;
}

.radio-group{
    flex: 1.5;
    display: flex;
    gap: 1.2rem;
}

.form-label{
    flex: 0.5;
}

.radio-input{
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.center-text{
    text-align: center;
    margin-bottom: 1.5rem;
}

.btn-margin{
    margin-top: 1.5rem;
}